<div class="footer"
     id="footer">
    <p>
        <a style="pointer-events: none;">&copy; 快乐小沙雕</a>
        <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备19161965号</a>
        <br>
        Theme by <a class="flink"
                    href="https://github.com/journey-ad/hexo-theme-geek">Geek&journey.ad</a>
        <label class="el-switch el-switch-green el-switch-sm"
               style="vertical-align: sub;">
            <input type="checkbox"
                   name="switch"
                   id="update_style">
            <span class="el-switch-style"></span>
        </label>
    </p>
</div>

<a href="javascript:void(0);" class="back-to-top" target="_self"></a>

<input type="hidden"
       id="web_style"
       value="<%= theme.style %>">
<input type="hidden"
       id="valine_appid"
       value="<%= theme.valine.appId %>">
<input type="hidden"
       id="valine_appKey"
       value="<%= theme.valine.appKey %>">
<script src='//cdn.jsdelivr.net/npm/valine@1.4.14/dist/Valine.min.js'></script>
<% if (theme.cdn.enabled) { %>
    <script src="<%= theme.cdn.url %>/libs/jquery.min.js"></script>
    <script src="<%= theme.cdn.url %>/js/js.js"></script>
<% } else { %>
  <%- js('libs/jquery.min.js') %>
  <%- js('js/js.js') %>
<% } %>
<style type="text/css">
    .v * {
        /* color: #698fca; */
    }

    .v .vlist .vcard .vhead .vsys {
        color: #3a3e4a;
    }

    .v .vlist .vcard .vh .vmeta .vat {
        color: #638fd5;
    }

    .v .vlist .vcard .vhead .vnick {
        color: #6ba1ff;
    }

    .v a {
        color: #8696b1;
    }

    .v .vlist .vcard .vhead .vnick:hover {
        color: #669bfc;
    }

    .v .vcards .vcard .vhead .vnick {
        padding-left: 1px;
    }

    .v .vcontent .vemoji {
        max-width: 30px;
    }

    .v[data-class=v] p {
        color: inherit;
    }

</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.analytics.googleId %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= theme.analytics.googleId %>');
</script>
